pkgbase = eterm-themes
	pkgdesc = Themes for Eterm, the Enlightened terminal emulator.
	pkgver = 0.9.3
	pkgrel = 1
	url = https://git.enlightenment.org/old/eterm
	arch = any
	license = GPL
	license = BSD
	depends = eterm
	options = !debug
	source = https://sources.debian.org/src/eterm-themes/0.9.3.20060329-2/Themes/23Oz_G-Eterm-theme.tar.gz
	source = https://sources.debian.org/src/eterm-themes/0.9.3.20060329-2/Themes/BlueBrushedMetal-Eterm-theme.tar.gz
	source = https://sources.debian.org/src/eterm-themes/0.9.3.20060329-2/Themes/BlueSteel-Eterm-theme.tar.gz
	source = https://sources.debian.org/src/eterm-themes/0.9.3.20060329-2/Themes/BrushedMetal-Eterm-theme.tar.gz
	source = https://sources.debian.org/src/eterm-themes/0.9.3.20060329-2/Themes/Escreen-glass-Eterm-theme.tar.gz
	source = https://sources.debian.org/src/eterm-themes/0.9.3.20060329-2/Themes/Estep-Eterm-theme.tar.gz
	source = https://sources.debian.org/src/eterm-themes/0.9.3.20060329-2/Themes/Ganymede-Eterm-theme.tar.gz
	source = https://sources.debian.org/src/eterm-themes/0.9.3.20060329-2/Themes/GreyMarble-Eterm-theme.tar.gz
	source = https://sources.debian.org/src/eterm-themes/0.9.3.20060329-2/Themes/MySpiffE-Eterm-theme.tar.gz
	source = https://sources.debian.org/src/eterm-themes/0.9.3.20060329-2/Themes/Orange_Juice-Eterm-theme.tar.gz
	source = https://sources.debian.org/src/eterm-themes/0.9.3.20060329-2/Themes/SpiffE-Eterm-theme.tar.gz
	source = https://sources.debian.org/src/eterm-themes/0.9.3.20060329-2/Themes/StarEnli-Eterm-theme.tar.gz
	source = https://sources.debian.org/src/eterm-themes/0.9.3.20060329-2/Themes/Steves-Eterm-theme.tar.gz
	source = https://sources.debian.org/src/eterm-themes/0.9.3.20060329-2/Themes/altirc-Eterm-theme.tar.gz
	source = https://sources.debian.org/src/eterm-themes/0.9.3.20060329-2/Themes/brassalloy-Eterm-theme.tar.gz
	source = https://sources.debian.org/src/eterm-themes/0.9.3.20060329-2/Themes/cEterm-Eterm-theme.tar.gz
	source = https://sources.debian.org/src/eterm-themes/0.9.3.20060329-2/Themes/chooser-Eterm-theme.tar.gz
	source = https://sources.debian.org/src/eterm-themes/0.9.3.20060329-2/Themes/crux-Eterm-theme.tar.gz
	source = https://sources.debian.org/src/eterm-themes/0.9.3.20060329-2/Themes/cyrus-Eterm-theme.tar.gz
	source = https://sources.debian.org/src/eterm-themes/0.9.3.20060329-2/Themes/dirtchamber-Eterm-theme.tar.gz
	source = https://sources.debian.org/src/eterm-themes/0.9.3.20060329-2/Themes/e-chaos-Eterm-theme.tar.gz
	source = https://sources.debian.org/src/eterm-themes/0.9.3.20060329-2/Themes/emacs-Eterm-theme.tar.gz
	source = https://sources.debian.org/src/eterm-themes/0.9.3.20060329-2/Themes/fetchmail-Eterm-theme.tar.gz
	source = https://sources.debian.org/src/eterm-themes/0.9.3.20060329-2/Themes/get-E-Eterm-theme.tar.gz
	source = https://sources.debian.org/src/eterm-themes/0.9.3.20060329-2/Themes/glass-Eterm-theme.tar.gz
	source = https://sources.debian.org/src/eterm-themes/0.9.3.20060329-2/Themes/irc-Eterm-theme.tar.gz
	source = https://sources.debian.org/src/eterm-themes/0.9.3.20060329-2/Themes/logger-Eterm-theme.tar.gz
	source = https://sources.debian.org/src/eterm-themes/0.9.3.20060329-2/Themes/mutt-Eterm-theme.tar.gz
	source = https://sources.debian.org/src/eterm-themes/0.9.3.20060329-2/Themes/nIx-Eterm-theme.tar.gz
	source = https://sources.debian.org/src/eterm-themes/0.9.3.20060329-2/Themes/rxvt-Eterm-theme.tar.gz
	source = https://sources.debian.org/src/eterm-themes/0.9.3.20060329-2/Themes/smoked_glass-Eterm-theme.tar.gz
	source = https://sources.debian.org/src/eterm-themes/0.9.3.20060329-2/Themes/solid-Eterm-theme.tar.gz
	source = https://sources.debian.org/src/eterm-themes/0.9.3.20060329-2/Themes/vim-Eterm-theme.tar.gz
	source = https://sources.debian.org/src/eterm-themes/0.9.3.20060329-2/Themes/xterm-Eterm-theme.tar.gz
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = eterm-themes
